<div id="messages_container">
    {{#each messages}}
    <div class="message" onclick="location.href='chat?user={{this.name}}';">
        <div class="username">{{this.name}}</div>
        <div class="content">{{this.text}}</div>
        <div class="time">{{this.time}}</div>
    </div>
    {{/each}}
    <form id="new_conversation_form" method="GET" action="/chat">
        <p>Message new user</p>
        <input type="text" name="user">
    </div>
</div>

<script type="module" src="scripts/messages.js"></script>