<div id="messages_container">
    {{#each messages}}
    <div class="message">
        <div class="username">{{this.name}}</div>
        <div class="content">{{this.text}}</div>
        <div class="time">{{this.time}}</div>
    </div>
    {{/each}}
</div>