*
{
	font-family:arial;
	margin:0;
	padding:0;
}

.auth_page_message
{
	border-radius:5px;
	margin:20px auto;
	padding:10px;
	text-align:center;
	width:300px;
}

.button_type_input
{
	background-color:#1552bd;
	border:0;
	border-radius:5px;
	color:#FFF;
	margin:5px auto;
	padding:5px;
	transition:all .1s ease-in-out;
}

.button_type_input:active
{
	background-color:#1e69eb;
	transform:scale(0.95,0.95);
}

.button_type_input:hover
{
	background-color:#1e69eb;
}

.green_message
{
	background-color:#abfabf;
	border:2px solid #009127;
	color:#009127;
}

.red_message
{
	background-color:#ffc4c3;
	border:2px solid #b01700;
	color:#b01700;
}

.text_type_input
{
	border:2px solid #373f66;
	border-radius:5px;
	height:20px;
	margin:5px auto;
	padding:2px;
	transition:all .1s ease-in-out;
	width:250px;
}

.text_type_input:active
{
	border-color:#4e5da6;
	transform:scale(0.98,0.98);
}

.text_type_input:hover
{
	border-color:#4e5da6;
}

#footer
{
	background-color:#1552bd;
	bottom:0;
	color:#FFF;
	font-family:monospace;
	font-size:15px;
	height:20px;
	position:absolute;
	text-align:center;
	width:100vw;
}

#form_container
{
	border:2px solid #1E90FF;
	border-radius:10px;
	margin:40px auto 0;
	padding:10px;
	width:262px;
}

#logo
{
	border-radius:25px;
	color:#1552bd;
	font-family:garamond;
	font-size:100px;
	height:100px;
	margin:0 auto;
	padding:10px 30px 30px;
	text-align:center;
	transform:rotate(90deg);
	width:100px;
}

#signup_signin_form
{
	position:relative;
}

#signup_signin_link
{
	background-color:#4388ff;
	border:0;
	border-radius:5px;
	bottom:0;
	color:#FFF;
	font-size:14px;
	margin:5px auto;
	padding:5px 10px;
	position:absolute;
	right:5px;
	text-decoration:none;
	transition:all .1s ease-in-out;
}

#signup_signin_link:active
{
	background-color:#1349a7;
	transform:scale(0.95,0.95);
}

#signup_signin_link:hover
{
	background-color:#2165da;
}
