*
{
	font-family:arial;
	margin:0;
	padding:0;
}

.chat_message
{
	background-color:#1E90FF;
	border-radius:25px;
	color:#FFF;
	margin-bottom:25px;
	padding:10px;
	position:relative;
	width:30vw;
}

.chat_message_wrap
{
	width:70vw;
}

.content
{
	bottom:5px;
	left:10px;
	position:absolute;
}

.date_container
{
	bottom:-15px;
	color:#999;
	font-size:x-small;
	position:absolute;
	right:5px;
}

.direction_in
{
	background-color:#f8f8f8;
	color:#1E90FF;
	text-align:left;
}

.direction_in>.date_container
{
	left:5px;
	right:auto;
}

.direction_out
{
	float:right;
	text-align:right;
}

.error_message
{
	color:#942525;
	display:block;
	font-size:large;
	margin:0 auto;
	text-align:center;
	width:600px;
}

.message
{
	background-color:#FFF;
	border-radius:10px;
	font-family:arial;
	height:50px;
	margin:10px auto;
	position:relative;
	transition:all .1s ease-in-out;
	width:300px;
}

.message:active
{
	transform:scale(0.97,0.97);
}

.message:hover
{
	background-color:#daeafd;
}

.time
{
	color:gray;
	font-size:x-small;
	position:absolute;
	right:5px;
	text-align:right;
	top:5px;
	width:80px;
}

.username
{
	color:#1E90FF;
	left:10px;
	position:absolute;
	top:5px;
}

#chat_container
{
	-ms-overflow-style:none;
	display:flex;
	flex-direction:column-reverse;
	height:75vh;
	margin-left:15vw;
	margin-top:0;
	overflow-y:scroll;
	padding:15px;
	scrollbar-width:none;
	width:70vw;
}

#chat_container::-webkit-scrollbar
{
	display:none;
}

#footer
{
	background-color:#1552bd;
	bottom:0;
	color:#FFF;
	font-family:monospace;
	font-size:15px;
	height:20px;
	position:absolute;
	text-align:center;
	width:100vw;
}

#logo_small
{
	border-radius:25px;
	color:#1552bd;
	cursor:pointer;
	font-family:garamond;
	font-size:50px;
	height:50px;
	left:20px;
	margin:0 auto;
	padding:10px 15px 15px;
	position:absolute;
	text-align:center;
	top:5px;
	transform:rotate(90deg);
	width:50px;
}

#message_input
{
	background-color:#F0F8FF;
	border:0;
	border-radius:10px;
	color:#1E90FF;
	font-size:large;
	height:calc(10vh-10px);
	margin-left:15vw;
	overflow:hidden;
	padding:15px;
	resize:none;
	width:70vw;
}

#message_input:focus,#new_conversation_form>input:focus
{
	outline:none;
}

#messages_container
{
	background-color:#e4e4e4;
	border-radius:25px;
	margin:90px auto 0;
	min-height:600px;
	padding:10px;
	width:80vw;
}

#new_conversation_form
{
	background-color:#1552bd;
	border-radius:10px;
	font-family:arial;
	margin:10px auto;
	position:relative;
	transition:all .1s ease-in-out;
	width:300px;
}

#new_conversation_form>input
{
	background-color:#f4f4f4;
	border:0;
	border-radius:10px;
	color:#1552bd;
	font-size:large;
	height:30px;
	margin:10px;
	text-align:center;
	transition:.1s ease-in-out;
	width:280px;
}

#new_conversation_form>input:active
{
	transform:scale(0.98,0.98);
}

#new_conversation_form>input:hover
{
	background-color:#FFF;
}

#new_conversation_form>p
{
	color:#FFF;
	padding-top:5px;
	text-align:center;
}

#page_wrap
{
	padding-bottom:20px;
}

#user_menu
{
	background-color:#1552bd;
	border-radius:10px;
	color:#FFF;
	display:block;
	font-size:large;
	padding:10px;
	position:absolute;
	right:20px;
	text-align:center;
	top:20px;
}

#user_menu>a
{
	background-color:#FFF;
	border-radius:10px;
	color:#1E90FF;
	display:block;
	font-size:medium;
	margin-top:15px;
	padding:5px;
	text-decoration:none;
	transition:all .1s ease-in-out;
}

#user_menu>a:active
{
	background-color:#2868d8;
	transform:scale(0.95,0.95);
}

#user_menu>a:hover
{
	background-color:#1E90FF;
	color:#FFF;
}